<!doctype html>
<html lang="en">
  <head>
    <script src="http://localhost:8080/socket.io/socket.io.js"></script>
    <title>MM-Fitness</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="stylesheets/index.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    
  </head>
  <body class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-light bg-white border border-top-0" id="navbar">
      <a class="navbar-brand" id="title"></a>
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>

        </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" id="home" href="/home"><i class="fa fa-home" aria-hidden="true"></i>  Hjem</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="program" href="/program"><i class="fa fa-line-chart" aria-hidden="true"></i> Program</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="meal-plan" href="/meal-plan"><i class="fa fa-cutlery" aria-hidden="true"></i>   Kost</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="inbox" href="/inbox"><i class="fa fa-envelope-o" aria-hidden="true"></i>  Indbakke</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="news" href="/news"><i class="fa fa-newspaper-o" aria-hidden="true"></i> Nyheder</a>
          </li>
          <div>
            <hr class="mt-2 mb-2">
          </div>
          <li class="nav-item">
              <a class="nav-link" id="profile" href="/profile"><i class="fa fa-user" aria-hidden="true"></i>  Profil</a>
            </li>
        </ul>
      </div>
    </nav>